div {
  background-color: #eb8f8f;
}

h1 {
  margin-top: 0;
}
body {
  margin-left: 0;
  margin-top: 0;
}

form.example input [type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float:left;
  width: 80%;
  background: #f1f1f1;
}
form.example button {
  float: right;
  width:20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
