h1 {
  font-family: 'Merriweather', serif;
}

h2 {
  font-family: 'Merriweather', serif;
  color: #e97171;
}
.top-container {
  height: 100vh;
  background-image: url(images/seattle.jpg);
}
.middle-container {
  padding: 50px 0 20px;
  margin-left: 0;
  margin-top: 0;
  text-align: center;
}

.bottom-container {
  background-color: #e8e8e8;
  padding: 50px 0 20px;
  margin-left: 0;
  margin-top: 0;
  text-align: center;
}

.searchForm {
  justify-content: center;
  display: flex;
  align-items: center;
}

.contact {
  margin-right: 5%;
}

.about {
  margin-right: 5%;
}

.FAQ {
  margin-right: 5%;
}

.copyright {
  font-size: 0.75rem;
  padding: 20px 0;
}

.card-center {
  justify-content: center;
  display: flex;
  align-items: center;
}
